{% extends 'blog/layout.html' %}
{% block body %}
    <div class="container text-center">
        <h1 class="text-center">About Page</h1>
        <hr>
    
        <div class="card border-dark mb-3 text-center mt-5">
            <div class="card-body text-dark">
              <h3 class="card-title">Some text in Here</h3>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex expedita adipisci voluptates eligendi veritatis quibusdam molestiae sequi ipsam. Laborum quaerat iure, mollitia veritatis debitis modi optio accusamus accusantium sit labore?
                Esse neque maxime delectus impedit, facilis exercitationem sapiente beatae a porro. Sequi, autem vero sit alias iusto accusantium qui facere commodi at ullam explicabo voluptas culpa perspiciatis nemo exercitationem neque?
                Soluta maxime incidunt assumenda, fuga magni pariatur temporibus nulla impedit quia? Laborum, placeat. Voluptatem esse quas reprehenderit quos. Sequi reiciendis reprehenderit aspernatur consequatur quisquam nulla, voluptate error dicta at libero.
                Voluptatum, modi debitis exercitationem nobis a aperiam iusto maiores excepturi ab sint sed velit et blanditiis natus tenetur eveniet quaerat dicta ducimus libero cumque perferendis? Ex incidunt laboriosam eaque sed.
                Cumque tempora similique architecto facilis ipsam earum at, eum esse quam, voluptatem fugit, nisi sapiente corrupti. Ab numquam sit beatae libero, excepturi ratione! Eos impedit quod rerum dignissimos id officia!
                Sapiente possimus aspernatur rem officia laboriosam omnis ducimus, doloremque quos ipsa nemo, totam facere quo tempora commodi corporis aperiam, earum voluptate in similique neque natus? Amet error dolorem corrupti sint!
                Illo beatae eligendi tenetur quidem aut nemo, perspiciatis ab! Nemo facilis laborum repudiandae rem natus ducimus iure expedita nam dicta omnis? Aut molestias et earum tempora corporis incidunt, doloremque totam!
                Provident aut atque, iste ea, quidem libero exercitationem ullam, quas in perspiciatis eos dignissimos facilis quos? Perspiciatis cumque alias dolorem quidem error, dignissimos atque facilis laborum doloremque culpa laudantium tempore.</p>
            </div>
        </div>
        <a class="btn btn-primary mt-4" href="{% url 'home' %}" role="button">Back to Home</a>
    </div>
{% endblock %}


