{% extends 'blog/layout.html' %}
{% block body %}
    <div class="container-fluid">
        <h1 class="text-center mb-5">Django Home Page</h1>
        <hr>
        <div class="jumbotron jumbotron-fluid mt-5">
            <div class="container text-center">
              <h1 class="display-4">Django Reader Posts 🐍</h1>
              <p class="lead my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quam, illo similique blanditiis voluptatum accusantium dolorum quaerat necessitatibus, repellendus voluptatem iste amet in earum, quos quibusdam eum mollitia deleniti inventore?</p>
              <a class="btn btn-primary btn-lg" href="{% url 'posts' %}" role="button">Read Posts Here</a>
            </div>
        </div>
    </div>
{% endblock %}

